<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:websocket="http://www.springframework.org/schema/websocket"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/websocket
                           http://www.springframework.org/schema/websocket/spring-websocket.xsd
                           http://www.springframework.org/schema/jms
                           http://www.springframework.org/schema/jms/spring-jms.xsd">

    <bean class="org.apache.activemq.ActiveMQConnectionFactory"
          id="activeMQConnectionFactory"
          p:brokerURL="tcp://localhost:61616"/>

    <websocket:handlers>
        <websocket:mapping path="/chat" handler="chatHandler"/>
    </websocket:handlers>

    <bean class="sjc.app.chat.ChatHandler"
          id="chatHandler"/>

    <bean class="sjc.app.chat.WebSocketOutMessageListener"
          id="webSocketOutMessageListener"
          p:webSocketHandler-ref="chatHandler"
          lazy-init="false"/>

    <jms:listener-container connection-factory="activeMQConnectionFactory" container-type="default">
        <jms:listener destination="websocket.out" ref="webSocketOutMessageListener" method="onMessage"/>
    </jms:listener-container>

</beans>
